<header>
    <div id="header-logo-div">
        <a href="/public" class="logo"><i class="needs-margin fas fa-paw"></i>MY ZOO</a>
    </div>
    <div id="header-menu-div">
        <nav class="menu">
            <a href="/public" class="needs-margin">Home</a>
            <a href="/gallery/" class="needs-margin">Gallery</a>
            <a href="/tickets/" class="needs-margin">Tickets</a>
            <a href="/animals/" class="needs-margin">Animals</a>
            <a href="/about/">About</a>
        </nav>
    </div>
    <div class="button-div" id="header-login-register-div">
        <button id="login-button">Log in</button>
        <button id="register-button" onclick="window.location.href='/register/';">Register</button>

    </div>
</header>

<dialog class="form-popup" id="my-form">
    <form action="/auth/" class="form-container" id="login-form" method="POST">
        <input type="email" name="email" placeholder="Enter your email" class="login-form-input">
        <input type="password" name="password" placeholder="Enter your password" class="login-form-input">
        <div class="remember">
            <input type="checkbox" name="" id="remember-me">
            <label for="remember-me">remember me</label>
        </div>
        <div class="form-buttons button-div">
            <button type="reset" id="login-form-reset" >Clear</button>
            <button type="submit" id="login-form-submit" >Login</button>
        </div>
    </form>
</dialog>
<script type="text/javascript">
    const login_dialog = document.getElementById("my-form");
    document.getElementById("login-button").addEventListener("click", () => {login_dialog.showModal();});
    document.getElementById("login-form-submit").addEventListener("click", () => {login_dialog.close();});
    function keyPress (e) { if(e.key === "Escape") { login_dialog.close(); } }
</script>
