<header>
    <div id="header-logo-div">
        <a href="/index" class="logo"><i class="needs-margin fas fa-paw"></i>MY ZOO</a>
    </div>
    <div id="header-menu-div">
        <nav class="menu">
            <a href="/index" class="needs-margin">Home</a>
            <a href="/gallery/" class="needs-margin">Gallery</a>
            <a href="/tickets/" class="needs-margin">Tickets</a>
            <a href="/animals/" class="needs-margin">Animals</a>
            <a href="/about/">About</a>
        </nav>
    </div>
    <div class="button-div" id="header-login-register-div">
        <button id="login-button">Log in</button>
        <button id="register-button" onclick="window.location.href='/register/';">Register</button>

    </div>
</header>

<dialog class="form-popup" id="my-form">
    <form action="/api/login" class="form-container" id="login-form" method="POST">
        <div class="close-btn"> 
            <button type="button" class="close-btn" id="close-btn" >x</button> 
        </div>
        <p>Login form</p>
        <input type="email" name="email" placeholder="Enter your email" class="login-form-input">
        <input type="password" name="password" placeholder="Enter your password" class="login-form-input">
        <div class="remember">
            <input type="checkbox" name="" id="remember-me">
            <label for="remember-me">remember me</label>
        </div>

        <div class="form-buttons">
            <button type="reset" id="login-form-reset">clear</button>
            <button type="submit" id="login-form-submit">login</button>
        </div>
    </form>

</dialog>


<script type="text/javascript">
    const login_dialog = document.getElementById("my-form");
    const close_btn = document.getElementById("close-btn");
    document.getElementById("login-button").addEventListener("click", () => {login_dialog.showModal();});
    document.getElementById("login-form-submit").addEventListener("click", () => {login_dialog.close();});
    close_btn.addEventListener("click", () => {login_dialog.close(); console.log("close btn clicked")});
    function keyPress (e) { if(e.key === "Escape") { login_dialog.close(); } }
</script>