<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{{title}}}</title>
    <link rel="stylesheet" type="text/css" href="https://use.fontawesome.com/releases/v5.0.7/css/all.css">
    <link rel="stylesheet" type="text/css" href="/style.css">
    <link rel="stylesheet" type="text/css" href="/payment.css">
    <link rel="shortcut icon" href="/favicon.ico">
</head>
<body>
    <header>
        <div id="header-logo-div">
            <a href="/index/" class="logo"><i class="needs-margin fas fa-paw"></i>MY ZOO</a>
        </div>
        <div id="header-menu-div">
            <nav class="header-menu">
                <a href="/index/">Home</a>
                <a href="/gallery/">Gallery</a>
                <a href="/tickets/">Tickets</a>
                <a href="/animals/">Animals</a>
                <a href="/about/">About</a>
            </nav>
        </div>
        <div class="button-div" id="header-login-register-div">
            <button id="login-button">Log in</button>
            <button id="register-button" onclick="window.location.href='/register/';">Register</button>
        </div>
        <div id="header-mobile-navigation-div">
            <!-- TODO ===================================================== <a href="#home" class="active">Logo</a> -->
            <div id="header-mobile-navigation-close-div">
                <a class="icon" onclick="hamburger();"><i class="fa fa-times"></i></a> <!-- - CLOSE HAMBURGER MENU  -->
            </div>
            <a href="/index/">Home</a>
            <a href="/gallery/">Gallery</a>
            <a href="/tickets/">Tickets</a>
            <a href="/animals/">Animals</a>
            <a href="/about/">About</a>
            <div class="button-div" id="header-login-register-div-mobile">
                <button id="login-button-mobile">Log in</button>
                <button id="register-button-mobile" onclick="window.location.href='/register/';">Register</button>
            </div>
        </div>
        <div id="header-mobile-hamburger-div">
            <a class="icon" onclick="hamburger();"><i class="fa fa-bars"></i></a> <!-- ---- OPEN HAMBURGER MENU --- -->
        </div>
    </header>
    <script type="text/javascript">
        // const header = document.querySelector("header"); // TODO -------------------------------------------- unused
        // window.onscroll = function () {
        //     if (window.scrollY > header.offsetTop) header.classList.add("sticky-header");
        //     else header.classList.remove("sticky-header");
        // }
        function hamburger() {  // --------------------------------- opens and closes hamburger menu for mobile devices
            let mobileNavigation = document.getElementById("header-mobile-navigation-div");
            if (mobileNavigation.style.display === "block") mobileNavigation.style.display = "none";
            else mobileNavigation.style.display = "block";
        }
    </script>

    <dialog class="form-popup" id="login-form-dialog">
        <form action="/api/login" class="form-container" id="login-form" method="POST">
            <input type="email" name="email" placeholder="Enter your email" class="login-form-input">
            <input type="password" name="password" placeholder="Enter your password" class="login-form-input">
            <div class="remember">
                <input type="checkbox" name="" id="remember-me">
                <label for="remember-me">remember me</label>
            </div>
            <div class="form-buttons button-div">
                <button type="reset" id="login-form-reset">Clear</button>
                <button type="submit" id="login-form-submit">Login</button>
            </div>
        </form>
    </dialog>
    <script type="text/javascript">
        const loginDialog = document.getElementById("login-form-dialog");
        document.getElementById("login-button").addEventListener("click", () => {loginDialog.showModal();});
        document.getElementById("login-button-mobile").addEventListener("click", () => {loginDialog.showModal();});
        document.getElementById("login-form-submit").addEventListener("click", () => {loginDialog.close();});
        // function keyPress (e) {if (e.key === "Escape") login_dialog.close();}
    </script>

    <dialog id="cookie-consent-dialog">
        <div id="cookie-consent-content">
            <h2>Your Cookie Preferences</h2> <hr>
            <p>This website uses cookies to give our users the best experience.
                You can manage your settings below or find out by reading our <a href="#">Cookie Policy</a>.</p>
        </div>
        <div id="cookie-consent-selection" class="button-div">
            <button name="accept-cookies" value="false" id="cookie-consent-deny-button">Use Necessary Only</button>
            <button name="accept-cookies" value="true" id="cookie-consent-allow-button">Allow All Cookies</button>
        </div>
    </dialog>
    <script type="text/javascript">
        const loginDialog = document.getElementById("login-form-dialog");
        const cookieDialog = document.getElementById("cookie-consent-dialog");

        document.addEventListener("keydown", (event) => {
            if (event.altKey === true) {
                if (event.key === "C") cookieDialog.showModal();
                if (event.key === "L") loginDialog.showModal();
            }
            if (event.key === "L") loginDialog.showModal();  // fixme ------------------------------------ NOT WORKING
        })

        function keyPress (e) {
            if(e.key === "C") cookieDialog.showModal();
            if(e.key === "L") cookieDialog.showModal();
        }
        document.getElementById("cookie-consent-deny-button").addEventListener("click", () => {cookieDialog.close();});
    </script>

    <main class="content">
        {{{body}}}
    </main>

    <footer>
        <div class="box-container">

            <div class="box" id="footer-alpha">
                <h3><i class="fas fa-paw"></i> zoo</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                <p class="links"><i class="fas fa-clock"></i>monday - friday</p>
                <p class="days">7:00AM - 11:00PM</p>
            </div>

            <div class="box" id="footer-beta">
                <h3>Contact Info</h3>
                <a href="#" class="links"><i class="fas fa-phone"></i> 2610-135-2468 </a>
                <a href="#" class="links" style="text-transform: none"><i class="fas fa-envelope"></i> info@patraszoo.gr </a>
                <a href="#" class="links"><i class="fas fa-map-marker-alt"></i> Patras, Greece </a>
            </div>

            <div class="box" id="footer-gamma">
                <h3>site map</h3>
                <a href="/public" class="links"> <i class="fas fa-arrow-right"></i>home</a>
                <a href="/gallery/" class="links"> <i class="fas fa-arrow-right"></i>gallery</a>
                <a href="/animals/" class="links"> <i class="fas fa-arrow-right"></i>animals</a>
            </div>

            <div class="box" id="footer-delta">
                <h3>quick links</h3>
                <a href="/public#tickets" class="links"> <i class="fas fa-arrow-right"></i>tickets</a>
                <a href="/about/" class="links"> <i class="fas fa-arrow-right"></i>about</a>
                <a href="#" class="links" id="accessibility"> <i class="fas fa-arrow-right"></i>accessibility</a>
                <dialog id="accessibility-dialog">
                    <h3 id="accessibility-dialog-title">Accessibility Statement</h3>
                    <p id="accessibility-statement-text">
                        We are committed to providing a website that is accessible to the widest possible audience,
                        regardless of technology or ability, by making sure that the whole content is compatible
                        with screen readers. This website endeavours to conform to the World Wide Web Consortium
                        Web Content Accessibility Guidelines. <br> <br>Should you experience any difficulty
                        in accessing the current website, please don’t hesitate to contact us.
                    </p>
                    <div id="accessibility-button-div">
                    <button autofocus id="close-accessibility">Close</button>  <!----- autofocus attr to be removed -->
                    </div>
                </dialog>
                <script type="text/javascript">
                    const dialog = document.getElementById("accessibility-dialog");
                    document.getElementById("accessibility").addEventListener("click", () => {dialog.showModal();});
                    document.getElementById("close-accessibility").addEventListener("click", () => {dialog.close();});
                </script>
            </div>

            <div class="box" id="footer-epsilon">
                <h3>Location</h3>
                <iframe src="https://www.openstreetmap.org/export/embed.html?bbox=21.73233558053101%2C38.240105978598706%2C21.74035538548554%2C38.24356083673144&amp;layer=mapnik"
                        style="border: 1px solid black"></iframe>
                <br/>
                <small><a href="https://www.openstreetmap.org/#map=18/38.24183/21.73635">View Larger Map</a></small>

            </div>

            <div class="box" id="footer-sigma-taf">
                <h3>newsletter</h3>
                <form action="/api/subscribe/" id="subscribe-form" method="POST">
                    <label for="subscribe-form-input">subscribe for latest updates</label>
                    <input type="email" name="email" placeholder="Your Email"
                           class="subscribe-input" id="subscribe-form-input">
                    <button type="submit" id="subscribe-button">Subscribe</button>
                </form>
                <script type="text/javascript">
                    document.getElementById("subscribe-button").addEventListener("click", () => {
                        // document.getElementById("subscribe-form-input").reset(); it is the default behavior!
                        console.log("subscribed");});
                </script>
                <div class="share">
                    <a href="https://www.facebook.com/groups/pacmansplayground" class="fab fa-facebook-f"></a>
                    <a href="https://youtube.com/" class="fab fa-youtube"></a>
                    <a href="https://twitter.com/home" class="fab fa-twitter"></a>
                    <a href="https://www.instagram.com/" class="fab fa-instagram"></a>
                    <a href="https://www.linkedin.com/feed/" class="fab fa-linkedin"></a>
                </div>
            </div>
        </div>
        <div class="credit">&copy; 2024 All rights reserved by
            <a href="https://github.com/alextsakir/NodeZoo" class="link">team 30</a></div>
    </footer>

</body>
</html>