<div class="about-class" style="text-align: center; padding: 2rem;">
    <h1><a href="https://github.com/alextsakir/NodeZoo" class="link">Team 30</a></div></h1>
    <p style="text-align: center; padding: 3rem;"> ΕΥΘΥΜΙΟΣ, ΠΑΝΙΔΗΣ <br>
    themispan2002@gmail.com, up1084012@ac.upatras.gr<br><br>
    ΑΛΕΞΑΝΔΡΟΣ ΜΑΡΙΟΣ, ΤΣΑΚΙΡΙΔΗΣ<br>
    alexandros.tsakiridis@gmail.com, up1083879@ac.upatras.gr <br><br><br>
        <button style="padding: 1rem;" onclick="window.location.href='/dashboard/';">Report</button>
    </p>   

</div>


<section id="admin-to-dashboard" style="text-align: center; padding: 3rem;">
        <button style="padding: 1rem;" onclick="window.location.href='/dashboard/';">Administration Dashboard</button>
</section>

