
    <h4>animals panel</h4>
    <script>
    function play() {
    const audio = new Audio("https://interactive-examples.mdn.mozilla.net/media/cc0-audio/t-rex-roar.mp3");
    audio.play();
}
    </script>
