<section class="dashboard buttons">
    <button>Create task</button>
    <button>See tasks</button>
    <button>Create user</button> <!-- goes to register page -->
    <button>See users</button> <!-- goes to register page -->
    <button>Make a booking</button>
    <button>See bookings</button> <!-- see booked tickets -->
    <button>Write note</button>
    <button>See notes</button>
    <button>Send notification email</button> <!-- for newsletter -->
    <button>Animal statistics</button>
    <button>Employee statistics</button>

    {#    <button id="register-button" onclick="window.location.href='/register/';">Register</button> HINT #}
</section>