
<h1 class="gallery-title">Gallery</h1>
<div class="gallery">
        {{#each images}}
            <div class="gallery-item">
                <img src="/images/{{this}}.jpg" alt="{{this}}">
                <div class="image-label">{{this}}</div>
            </div>
        {{/each}}
</div>