<section class="hero">
    <div class="content">
        <h3>
            <strong>Welcome!
            Patras Zoo </strong><br> Wildlife Alliance is an international, <br> nonprofit conservation organization.
        </h3>
    </div>
</section>

<section class="gallery-index">
    <div class="slideshow-container">
        <div class="slide fade"> <img src="/images/gallery-1.jpg" style="width:100%"> </div>
        <div class="slide fade"> <img src="/images/gallery-2.jpg" style="width:100%"> </div>
        <div class="slide fade"> <img src="/images/gallery-3.jpg" style="width:100%"> </div>
        <div class="slide fade"> <img src="/images/gallery-4.jpg" style="width:100%"> </div>
        <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
        <a class="next" onclick="plusSlides(1)">&#10095;</a>
    </div>
    <br>
    <div style="text-align: center">
        <span class="dot" onclick="currentSlide(1)"></span>
        <span class="dot" onclick="currentSlide(2)"></span>
        <span class="dot" onclick="currentSlide(3)"></span>
        <span class="dot" onclick="currentSlide(4)"></span>
    </div>
    <script>
        let slideIndex = 1;
        showSlides(slideIndex);

        function plusSlides(n) {showSlides(slideIndex += n);}

        function currentSlide(n) {showSlides(slideIndex = n);}

        function showSlides(n) {
            let i;
            let slides = document.getElementsByClassName("slide");
            let dots = document.getElementsByClassName("dot");
            if (n > slides.length) {slideIndex = 1;}
            if (n < 1) {slideIndex = slides.length;}
            for (i = 0; i < slides.length; i++) {
            slides[i].style.display = "none";
            }
            for (i = 0; i < dots.length; i++) {
            dots[i].className = dots[i].className.replace(" active", "");
            }
            slides[slideIndex-1].style.display = "block";
            dots[slideIndex-1].className += " active";
        }
    </script>
</section>

<section class="about" id="about">
    <div class="box-container">
        <div class="image">
            <img src="/images/about.png" alt="">
        </div>
        <div class="content">
            <h3 class="title">You can find all the most popular species</h3>
            <p>Patras Zoo Wildlife Alliance is an international, nonprofit conservation organization with two
                front doors. We integrate wildlife health and care, science, and education to develop
                sustainable conservation solutions. <br><br> Conservation is at the heart of everything we do.
                And it starts with that connection we make with people and wildlife every day.
                Because when wildlife thrives, all life thrives. <br> <br>

                Be a Wildlife Ally. We can't do it alone! Our supporters play a crucial role, and we need dedicated
                partners like you. Join the My Zoo Wildlife Alliance by becoming a member, help fund
                conservation projects, volunteer your time and knowledge, or partner with us to sustain
                conservation efforts worldwide. <br><br> Your support makes a world of difference.</p>
            <button onclick="window.location.href='/animals';">See animals here</button>
        </div>
    </div>

</section>
