<section class="hero">
    <h1>Welcome to our website</h1>

    <div class="hero-image">
        <img src="/images/home.jpg" alt="to be completed">
    </div>
</section>
<section class="gallery">
    <div class="slideshow-container">
        <div class="slide fade"> <img src="/images/gallery-1.jpg" style="width:100%"> </div>
        <div class="slide fade"> <img src="/images/gallery-2.jpg" style="width:100%"> </div>
        <div class="slide fade"> <img src="/images/gallery-3.jpg" style="width:100%"> </div>
        <div class="slide fade"> <img src="/images/gallery-4.jpg" style="width:100%"> </div>
        <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
        <a class="next" onclick="plusSlides(1)">&#10095;</a>
    </div>
    <br>
    <div style="text-align: center">
        <span class="dot" onclick="currentSlide(1)"></span>
        <span class="dot" onclick="currentSlide(2)"></span>
        <span class="dot" onclick="currentSlide(3)"></span>
        <span class="dot" onclick="currentSlide(4)"></span>
    </div>
    <script>
        let slideIndex = 1;
        showSlides(slideIndex);

        function plusSlides(n) {showSlides(slideIndex += n);}

        function currentSlide(n) {showSlides(slideIndex = n);}

        function showSlides(n) {
            let i;
            let slides = document.getElementsByClassName("slide");
            let dots = document.getElementsByClassName("dot");
            if (n > slides.length) {slideIndex = 1;}
            if (n < 1) {slideIndex = slides.length;}
            for (i = 0; i < slides.length; i++) {
            slides[i].style.display = "none";
            }
            for (i = 0; i < dots.length; i++) {
            dots[i].className = dots[i].className.replace(" active", "");
            }
            slides[slideIndex-1].style.display = "block";
            dots[slideIndex-1].className += " active";
        }
    </script>
</section>
<section class="another-photo"></section>
        <div class="hero-image">
        <img src="/images/home.jpg" alt="to be completed">
    </div>
<section class="ratings"></section>
<section class="tickets" id="tickets">

</section>