<form action="/api/login" class="form-class" id="login-page" method="POST">
    <h3>Login form</h3>
    <input type="email" name="email" placeholder="Enter your email" class="login-form-input" required>
    <input type="password" name="password" placeholder="Enter your password" class="login-form-input" required>
    <div class="remember">
        <input type="checkbox" name="" class="remember-me">
        <label for="remember-me">remember me</label>
    </div>

    <div class="form-buttons">
        <button type="reset">clear</button>
        <button type="submit">login</button>
    </div>
</form>
