<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Μινεστρόνε με πράσινα λαχανικά</title>
  <link rel="stylesheet" href="theme.css">
</head>

<body>

  <section class="recipe">
    <!-- Πάνω τμήμα -->
    <header>
      <h2>Μινεστρόνε με πράσινα λαχανικά</h2>
    </header>
    <!-- Διαχωριστικό -->
     <div class="separator">
      <hr>
    </div>
    <!-- Κεντρικό τμήμα -->
    <article>

      <p>"Ρύζι, Λαχανικά, Ορεκτικά, Κυρίως Γεύμα, Οικονομικά, Ιταλία, Χορτοφαγικά, Χωρίς γαλακτοκομικά, Διαιτητικά, Γρήγορα πιάτα, Πιάτα για φοιτητές"</p>
    </article>
    <!-- Κάτω τμήμα -->
    <footer>
      <p>20 λεπτά</p>
      <p>4 άτομα</p>
    </footer>
  </section>

</body>

</html>
