<div id="register-form-container">
    <form enctype="multipart/form-data" class="form-class" id="register-form" method="POST">
        <fieldset id="register-credentials-fieldset">
            <legend>New user registration</legend>
            <label for="name-div">Full Name</label>
            <div id="name-div">
                <input type="text" id="first_name" name="firstname" placeholder="First name">
                <input type="text" id="last_name" name="lastname" placeholder="Last name"> <br>
            </div>

            <label for="address-div">Address</label>
            <div id="address-div">
                <input type="text" id="address" name="address" placeholder="Street and Number"> <br>
                <input type="text" id="town" name="town" placeholder="City">
                <input type="text" id="postal_code" name="postal_code" placeholder="Postal Code"> <br>
            </div>
            <div> <label for="date_picker">Birthdate</label>
                <input type="date" id="date_picker" name="birthdate" value="1965-01-01" min="1900-01-01" max="2015-12-31">
            </div>
            <label for="contact-div">Contact</label>
            <div id="contact-div">
                <input type="text" id="phone" name="phone" placeholder="Telephone">
                <input type="email" id="email" name="email" placeholder="Email"> <br>
            </div>

            <label for="password">Password</label>
            <div id="password_">
                <input type="password" placeholder="Password" id="password" name="password">
                <input type="password" placeholder="Confirm Password" id="confirm_password" name="confirm_password"> <br>
            </div>
        </fieldset>
        <fieldset id="register-credentials-user-type-fieldset" style="display: none">
            <label for="user_type">User Type</label>
            <select id="user_type" name="user_type">
                <option>Accountant</option>      <option>Administrator</option>        <option>Cleaner</option>
                <option>Customer</option>        <option>Employee</option>             <option>Guard</option>
                <option>Secretary</option>       <option>Supplier</option>             <option>Veterinary</option>
            </select>
            <br>
        </fieldset>

        <span class="form-buttons button-div">
            <button type="reset" id="register-reset" >Clear</button>
            <button id="register-submit" type="submit" >Register</button>
        </span>
    </form>

    <script type="text/javascript">
        let registerForm = document.querySelector("#register-form");
        registerForm.addEventListener("submit", (event) => {
            event.preventDefault();
            let email = document.querySelector("#email").value;  // note ---------------------------- keep it for later            
            // const data = new FormData(registerForm); --------------------------------------- it did not want to work
            
            let response = fetch("/api/register", {
                method: "POST",
                headers: {Accept: "application/json, text/plain, */*", "Content-Type": "application/json"},
                body: JSON.stringify({
                    firstname: document.querySelector("#first_name").value,
                    lastname: document.querySelector("#last_name").value,
                    address: document.querySelector("#address").value,
                    town: document.querySelector("#town").value,
                    postal_code: document.querySelector("#postal_code").value,
                    birthdate: document.querySelector("#date_picker").value,
                    phone: document.querySelector("#phone").value,
                    email: document.querySelector("#email").value,
                    password: document.querySelector("#password").value,
                    confirm_password: document.querySelector("#confirm_password").value,
                })
            }).then((response) => {
                console.log("RESPONSE: ", response.status);
                if (response.status === 200) {
                    openDialog("User successfully registered", "Email: " + email, toIndex);
                } else if (response.status === 400)
                    alert("400 got by server");
                else if (response.status === 413)
                    openDialog("Problem with password", "Password and confirmation don't match.", simpleClose);
                else if (response.status === 412)
                    openDialog("Problem with email", "Email already exists.", simpleClose);
            }).catch((error) => {console.log(error);});

        });

    </script>
</div>
