<h1>Buy your tickets here</h1>
<div id="category-items">
    <div id="cat-extra-strip" class="no-title">
{#                <h2 id="ticket-title">Ticket options</h2>#}
        <form class="booking-form capture-add-to-cart" id="ticket-selection-form" action="https://atticapark.digitickets.co.uk/cart/add?catID=23659&amp;date=" method="post">
            <ul id="choose-tickets" class="ticket-list">
                {% for ticket in tickets %}
                <li class="ticket" style="clear: both;">
                    <div class="ticket-layout">
                        <div class="text">
                            <strong class="ticket-title"> {{ ticket.name_gr }} / {{ ticket.name_en }} </strong>
                            <div class="price"> <span class="price-active"> € {{ ticket.price }} </span> </div>
                        </div>
                        <div class="quantity">
                            <input type="hidden" id="price" value="{{ ticket.price }}">
                            <span class="ticket-selector">
                                <button type="button" aria-label="decrease quantity" class="minus-ticket-selector" data-toggle="popover" data-trigger="hover" data-placement="top" data-content="Click and hold to remove faster..." data-original-title="" title="">
                                <i class=" fa fa-minus" aria-hidden="true"></i>
                                </button>
                                <span class="selector-total">
                                    <span class="hidden-ticket-qty true-item-quantity" aria-label="selected ticket quantity" style="display: none!important;" data-item-name="Ενήλικες/ Adults" data-item-price="21" data-item-id="105451" data-item-category="Απλά εισιτήρια/ General Tickets"> 0 </span>
                                    <input type="text" inputmode="numeric" pattern="^\d+$" name="tickets[105451][qty]" value="0" id="qty_105451" class="ticket-qty-input" data-min="1" data-max="30">
                                    <small class="max-total" data-min="1" data-max="30">30 max</small>
                                </span>
                                <button type="button" aria-label="increase quantity" class="plus-ticket-selector" data-toggle="popover" data-trigger="hover" data-placement="top" data-content="Click and hold to add faster..." data-original-title="" title="">
                                    <i class="ticket-selector-icon ticket-selector-icon--plus fa fa-plus" aria-hidden="true"></i>
                                </button>
                            </span>
                        </div>
                    </div>
                </li>
            {% endfor %}
            </ul>
            <div id="cat-total">
                <div id="ticket-list-actions">
                    <button id="clear-ticket-selection" type="button">Clear selection <i class="fa fa-times" aria-hidden="true"></i></button>
                    <button type="submit" class="big-cta disabled" disabled="disabled" data-analytics-cat="event page" data-analytics-label="Add to Cart" data-analytics-event="click">Select your session<i class="fa fa-chevron-right"></i> </button>
                </div>
            </div>
        </form>
    </div>
</div>
